.margin{width:1000px;margin:0 auto;}
.mar{width: 1200px;margin: 0 auto;}
.bg1{background: url(../img/bg1.png);}
.icon{background: url(../img/icon.png);}
.icon1{background: url(../img/icon1.png);}
.icon2{background: url(../img/icon2.png);}
.footer{background: url(../img/footer.png);}

#top{height:26px;background: #f5f5f5;vertical-align: middle;}
#top #place{font:12px/26px "";color:#666;float: left;margin-left: 20px;}
#top .three{margin:11px 0 0 20px;display:inline-block;width:0;border-top:4px solid #999;border-right:4px solid #f5f5f5;border-left:4px solid #f5f5f5;}
#top .three-te{display:inline-block;width:0;border-top:4px solid #999;border-right:4px solid #f5f5f5;border-left:4px solid #f5f5f5;}
#top .sign{margin-top: -8px;}
#top i{display: inline-block;}
#top i.tel{width: 10px;height:14px;background-position: -294px -142px;}
#top .top-t{display: flex;height:26px;float: right;}
#top .te{float: left;width: 86px;height:26px;}
#top .top-t li{float: right;padding: 0 10px;}
#top .top-t li span{margin-left: 4px;}
#top .top-t li a{font:12px/26px "";color: #666;}

#top .place-b{width: 470px;height:300px;background: #fff;border:1px solid #ccc;position: absolute;top: 26px;padding: 0 15px;z-index: 99;}
#top .place-b p{font:14px/20px "";padding: 7px 0;}
#top .place-b p i{display: inline-block;}
#top .place-b p i.close{width: 8px; height: 8px;background-position: -236px -145px;float: right;}
#top .place-b .city{padding: 20px 13px 18px;}
#top .place-b ul{width: 408px;}
#top .place-b ul li{float: left;width: 68px;margin-bottom: 2px;}
#top .place-b ul li a{display:inline-block;height: 22px;max-width: 46px;padding: 0 14px;font:12px/22px "";color:#333;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#top .place-b ul li:hover{border: 1px solid #FA2A83;color: #FA2A83;}

header{height: 100px;}
header .he{float: left;}
header img{width:160px;height:100px;}
header i{display:inline-block;margin-top: 20px;}
header i.zp{width:85px;height:18px;background-position:-10px -42px;}
header i.th{width:89px;height:16px;background-position:-114px -44px;margin: 0 20px;}
header i.hy{width:76px;height:18px;background-position:-220px -42px;}
header .search{width:504px;height:54px;float: left;margin-left:20px;}
header .search form{float: left;margin-top: 30px;}
header form .txt{float:left;width:336px;height:36px;border:2px solid #fa2a83;padding:0 7px;font:12px/26px "";color:#666;}
header form .sub{width:54px;height:40px;background:#fa2a83;border:0;color:#fff;float:left;}
header form span{display:inline-block;width:80px;height:38px;background:#f6f7f9;border:1px solid #ccc;font:14px/36px "";margin-left:8px;color:#333;text-align: center;}
header .xk a{color: #999;}
nav{height: 46px;}
nav .title{margin-left: 210px;}
nav .title a{font: 18px/46px "";color: #333;margin-right: 10px;}
nav .title .active{color: #fa2a83;}
nav .title a:hover{color:#fa2a83;font-weight: 700;}
nav .nav-l{width: 1000px;height:46px;}
nav .nav-l .com{position:relative;text-align:center ;width: 166px;}
nav .nav-l .com a{width:146px;height:46px;font:18px/46px "";color:#fff;display: inline-block;background: #fa2a83;}
nav .nav-l .com img{margin-top: -4px;margin-right: 4px;}
nav .nav-l .com-list{display:none;background:#fa2a83;position:absolute;left:0;top:46px;z-index:999;}
nav .nav-l .com-list li{width:166px;height:46px;background:#fa2a83;font:12px/46px "";color: #fff;}
nav .nav-l li.com:hover .com-list{background: #fff;color: #fa2a83;display:block;}
nav .nav-l .com .com-list li:hover {background: #fff;color: #fa2a83;}
nav .nav-l .com-list li a{font:18px/46px "";color:#fff;text-align:center;line-height: 46px;}
nav li{display: flex;display: inline-block;}
nav li a{font:16px/46px "";color: #000;padding:0 10px ;}
nav li a.active{color: #fa2a83;}
nav li a:hover{color: #FA2A83;}


footer{background: #fcfcfc;border-top: 1px solid #ebebeb;height:500px;margin-top: 20px;}
footer ul{display: flex;justify-content: space-between;margin-top: 34px;}
footer ul li{width: 58px;height: 75px;}
footer ul li i{display:inline-block;}
footer ul li i.i1{width: 58px;height:75px;background-position: 0 0;}
footer ul li i.i2{width: 58px;height:75px;background-position: -80px 0;}
footer ul li i.i3{width: 58px;height:75px;background-position: -158px 0;}
footer ul li i.i4{width: 58px;height:75px;background-position: -240px 0;}
footer ul li i.i5{width: 58px;height:75px;background-position: -320px 0;}
footer ul li i.i6{width: 58px;height:75px;background-position: -396px 0;}
footer ul li i.i7{width: 58px;height:75px;background-position: -480px 0;}
footer ul li i.i8{width: 58px;height:75px;background-position: -558px 0;}
footer ul li i.i9{width: 58px;height:75px;background-position: -640px 0;}
footer ul li i.i10{width: 58px;height:75px;background-position: -720px 0;}
footer .serve{margin-top: 36px;display: flex;justify-content: space-between;}
footer dl{width: 162px;height: 146px;padding-left: 16px;border-right: 1px solid #e0e0e0;}
footer dl .te{border-right: none;}
footer dl dt{color: #4d4d4d;margin-bottom: 4px;}
footer dl dd{line-height:20px;}
footer dl dd s{width: 3px;height:3px;background: #666;display: inline-block;}
footer dl dd span{line-height:20px;color:#666;}
footer dl dd:hover{transform:translateX(2px);color: #d7237e;}
footer .infor{width: 1000px;height:30px;background: #d7237e;text-align: center;margin-top: 26px;}
footer .infor a{color: #fff;font: 12px/30px "";margin: 0 2px;}
footer .infor span{color: #fff;}
footer p{text-align: center;margin-top: 20px;color: #999;}
footer p a{line-height: 20px;}
footer a:hover{color: #FA2A83;}
footer .foot{text-align: center;margin-top: 20px;}
footer .foot i{display: inline-block;}
footer .foot i.i11{width: 105px;height: 40px;background-position: 0 0 ;}
footer .foot i.i12{width: 89px;height: 40px;background-position: 0 -50px;}
footer .foot i.i13{width: 91px;height: 40px;background-position: 0 -104px;}
footer .foot i.i14{width: 99px;height: 40px;background-position: 0 -152px;}
footer .foot i.i15{width: 44px;height: 40px;background-position: 0 -204px;}
footer .foot i.i16{width: 72px;height: 40px;background-position: 0 -250px ;}
footer .foot i.i17{width: 75px;height: 40px;background-position: 0 -301px;}
footer .foot i.i18{width: 89px;height: 40px;background-position: 0 -350px ;}